body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.transformable {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: all 0.5s ease;
}

.transformable:hover {
    transform: scale(1.2) rotate(15deg);
    border-radius: 30%; /* Углы становятся более закругленными */
}

.clip {
    width: 100px;
    height: 100px;
    background-color: red;
    clip-path: circle(50%);
    transition: clip-path 0.5s ease; /* Плавный переход для clip-path */
}

.clip:hover {
    clip-path: ellipse(60% 40% at 50% 50%); /* Изменение формы при наведении */
}