body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #fcbebe;
}

h1 {
    color: #000000;
    text-align: center;
}

h2 {
    color: #000000;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

code {
    background-color: #eaeaea;
    padding: 2px 5px;
    border-radius: 3px;
    color: rgb(255, 0, 0);
}

.example {
    background-color: #eef;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    white-space: pre;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
