body {
    background-color: rgb(255, 255, 255);
}

.book-list {
    background-color: rgb(255, 140, 0);
    padding: 10px;
    list-style-type: none;
}

.book-item {
    background-color: #ffee00;
    padding: 10px;
    margin: 5px;
}
